/* =============
    Header
============= */
@use "../helpers";

header{

    @include helpers.xxl{
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: "... hc ...";
    }

    #header-content{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "logo burger"
                                "nav nav";
        padding: 16px;

        @include helpers.md{
            grid-template-columns: 25% auto;
            grid-template-areas: "logo nav";
        }

        @include helpers.xxl{
            grid-area: hc;
        }

        #burger-container{
            grid-area: burger;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @include helpers.md{
                display: none;
            }

            button{
                border: none;
                background-color: transparent;
                color: var(--black);
                font-size: helpers.rem-calc(20);
            }

            #close-main-nav-btn{
                display: none;
            }
        }

        #logo-container{
            grid-area: logo;
            display: flex;
            align-items: center;
        }

        #main-nav{
            grid-area: nav;
        }
        
    }
}
